@media (max-width: 1024px){
	.header_illustration{
		background-repeat: no-repeat;
		background-size:contain ;
		left:-25px ;
	}
	.illustration_bg{
		width: 212px;
		height: 150px;
		background-repeat: no-repeat;
		background-size:contain ;
	}
	.illustration_parts>img:nth-of-type(1){
		width: 70px;
		height: 70px;
	}
	.illustration_bg>img{
		width: 150px;
		height: 70px;
	}
	.wwd_block{
		width: 34%;
    	height: 33%;
	}
	.clients_tab{
		font-size: 17px;
	}
	.message_bg{
		width: 40%;
	}
	.active .message_bg{
		left: 30%;
	}
}
@media (max-width: 768px){
	.nav{
		height: 10%;
	}
	.nav>img{
		width: 65px;
		height: 65px;
	}
	.menu{
		width: 45px;
		height: 45px;
	}
	.header_menu{
		height: 30%;
	}
	.header_illustration{
		display: none;
	}
	.header_content{
		width: 100%;
    	height: 90%;
	}
	.content_header{
		height: 80%;
   		width: 70%;
	}
	.content_header>h1{
		font-size: 80px;
	}
	.content_header>p{
		font-size: 20px;
	}
	.header_button{
		width: 60%;
    	height: 15%;
    	font-size: 21px
	}
	.what_we_do{
		height: 350vh;
	}
	.wwd_content{
		height: 95%;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.wwd_block{
		position: static;
		width: 76%;
   		height: 20%;
	}
	.wwd_txt{
		top: 0%;
		width: 65%;
    	height: 5%;
		font-size: 43px;
	}
	.clients_content{
		width: 77%;
	}
	.top_left_text{
		width: 45%;
	}
	.footer_bottom{
		width: 100%;
	}
	.column:nth-of-type(1){
		width: 40%;
	}
	.column{
		width: 25%;
	}
	.message_bg{
		width: 60%;
		height: 90%;
		top: 5%;
	}
	.active .message_bg{
		left: 20%;
	}
}
@media (max-width: 425px){
	.header_menu{
		top: -90%;
		height: 60vh;
		flex-direction: column;
	}
	.content_header{
		height: 100%;
	}
	.content_header>h1{
		font-size: 68px
	}
	.content_header>p{
		font-size: 16px
	}
	.header_button{
		width: 100%;
	}
	.wwd_content{
		width: 90%;
	}
	.our_clients{
		height: 250vh;
	}
	.clients_content{
		width: 77%;
		flex-direction: column;
    	justify-content: space-around;
	}
	.clients_content_text{
		margin-top: 50px;
		height: 40%;
   	 	flex-direction: column;
   	 	justify-content: space-around;
	}
	.clients_content_text p {
    	width: 83%;
	}
	.clients_content_text h2 {
    	margin: 0;
	}
	footer{
		width: 100%;
		height: 120vh;
	}
	.footer_top{
		flex-direction: column;
	}
	.top_left_text{
		width: 90%;
	}
	.footer_top button{
		width: 80%;
		font-size: 25px;
	}
	.footer_logo{
		display: none;
	}
	.column{
		word-break: break-word;
	}
	.message_bg{
		width: 90%;
	}
	.active .message_bg{
		left: 5%;
	}
}
@media(max-width: 375px){
	.our_clients{
		border-radius: 100px 0 0 0;
	}
	.clients_content_text>p{
		width: 100%;
	}
	.clients_content{
		height: 45%;
	}
	footer{
		border-radius: 0 100px 0 0;
	}
	.clients_tab th{
		font-size: 15px;
	}
}
