@font-face{
	font-family: "Galien";
	src: url("../assets/fonts/Galien-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Thin.ttf") format("truetype");
}
@font-face{
	font-family: "Gilroy-Regular";
	src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
}
